$theme-color: #409eff;

$active-color: $theme-color;

$blur-color: #dcdfe6;

$danger-color: #F56C6C;

$title-color: #909399;

$withe: #ffffff;
$black: #000000;

$editCell-color: #1574911c;
$editCell-active-color: #2584e9;

$current-color:#ecf5ff;

$transition: all 0.3s;

$head-bgc: #fafafa;

$border-color:#DCDFE6;
